
@{
    ViewBag.Title = "About";
}

<h2>About us</h2>

<!DOCTYPE html>
<html lang="en">

<body>

    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <div id="myCarousel" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#myCarousel" data-slide-to="1"></li>
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                        <div class="item active">
                            <img src="~/Image/Police15.jpg" alt="Image">
                            <div class="carousel-caption">
                                <h3>Police</h3>
                                <p>Practice section</p>
                            </div>
                        </div>

                        <div class="item">
                            <img src="~/Image/Police14.jpg" alt="Image">
                            <div class="carousel-caption">
                                <h3>Police</h3>
                                <p>Protocol sindh police</p>
                            </div>
                        </div>
                    </div>

                    <!-- Left and right controls -->
                    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="well">
                    <font color="blue"><b>*CONTACT : </b>0333.2564578</font><br />
                    <font color="blue"><b>*CONTACT : </b>0333.2561234</font><br />
                    <font color="blue"><b>*CONTACT : </b>021-12234568</font><br />
                    <font color="blue"><b>*CONTACT : </b>021.25645478</font>
                </div>
                <div class="well">
                    <font color="blue">
                        <b>* About : </b>On the pattern of the colonial Irish constabulary, Sir Charles Napier established a police system in Sindh in 1843. The British Army Officers closely supervised and controlled forces which were resultantly more disciplined, efficient and not corrupt. Influenced by the success of Napier’s police, the Court of Directors of the East India Company suggested that a common system of police be established on the pattern of Irish Constabulary.
                    </font>
                </div>
                <div class="well">
                    <font color="blue">
                        The British Indian Government set up a Police Commission headed by Mr. H.M.Court in 1860. One of the policy directives to the Police Commission of 1860 was that "though the duties of the police should be entirely civil, not military, the organization and discipline of the police should be similar to those of a military body". The present police system in our country has been established under this Charter.
                    </font>

                </div>
            </div>
        </div>
        <hr>
    </div>

    <div class="container text-center">
        <h3>What We Do</h3>
        <br>
        <div class="row">
            <div class="col-md-4">
                <div class="thumbnail">
                    <a href="/w3images/lights.jpg">
                        <img src="~/Image/Police16.gif" alt="Lights" style="width:100%">
                        <div class="caption">
                            <p>Pakistan Armed Forces ranked 13th most powerful on Global index...</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <a href="/w3images/nature.jpg">
                        <img src="~/Image/Police17.jpg" alt="Nature" style="width:100%">
                        <div class="caption">
                            <p>Join Pakistan Air Force After Matric,Intermediate, FSc, Engineering And Graduation. Inter, F.A, F.SC, ICS, ICOM. Civilian Staff, GDP, Pilot Officer ...</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <a href="/w3images/fjords.jpg">
                        <img src="~/Image/Police18.jpg" alt="Fjords" style="width:100%">
                        <div class="caption">
                            <p>Explore Pakistan Defence, Pakistan Armed Forces and more!...</p>
                        </div>
                    </a>
                </div>
            </div>

        </div>

        <hr>
    </div>


  

</body>
</html>
