
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Welcome Blog Slide Area Start -->
<section class="welcome-blog-post-slide owl-carousel">
    <!-- Single Blog Post -->
    <div class="single-blog-post-slide bg-img background-overlay-5" style="background-image: url(/Content/img/bg-img/1.jpg);">
        <!-- Single Blog Post Content -->
        <div class="single-blog-post-content">
            <div class="tags">
                <a href="#">New</a>
            </div>
            <h3><a href="#" class="font-pt">Special Task Force new batch's training completed</a></h3>
            <div class="date">
                <a href="#">@DateTime.Now.ToShortDateString()</a>
            </div>
        </div>
    </div>
    <!-- Single Blog Post -->
    <div class="single-blog-post-slide bg-img background-overlay-5" style="background-image: url(/Content/img/bg-img/2.jpg);">
        <!-- Single Blog Post Content -->
        <div class="single-blog-post-content">
            <div class="tags">
                <a href="#">New</a>
            </div>
            <h3><a href="#" class="font-pt">Operations in different areas of Karachi</a></h3>
            <div class="date">
                <a href="#">@DateTime.Now.ToShortDateString()</a>
            </div>
        </div>
    </div>
    <!-- Single Blog Post -->
    <div class="single-blog-post-slide bg-img background-overlay-5" style="background-image: url(/Content/img/bg-img/3.jpg);">
        <!-- Single Blog Post Content -->
        <div class="single-blog-post-content">
            <div class="tags">
                <a href="#">New</a>
            </div>
            <h3><a href="#" class="font-pt">Weapons training in Educational Institutes></a></h3>
            <div class="date">
                <a href="#">@DateTime.Now.ToShortDateString()</a>
            </div>
        </div>
    </div>
    <!-- Single Blog Post -->
    <div class="single-blog-post-slide bg-img background-overlay-5" style="background-image: url(/Content/img/bg-img/2.jpg);">
        <!-- Single Blog Post Content -->
        <div class="single-blog-post-content">
            <div class="tags">
                <a href="#">New</a>
            </div>
            <h3><a href="#" class="font-pt">Operations in different areas of Karachi</a></h3>
            <div class="date">
                <a href="#">@DateTime.Now.ToShortDateString()</a>
            </div>
        </div>
    </div>
</section>
<!-- Welcome Blog Slide Area End -->
@*////////////////////////////////////*@

<br />
<br />
<div class="container text-center">
    <h3><b>What We Do</b></h3>
    <br>
    <div class="row">
        <div class="col-sm-3">
            <img src="~/Image/Police2.jpg" class="img-thumbnail" alt="Cinque Terre">
            <p></p>
        </div>
        <div class="col-sm-3">
            <img src="~/Image/Police1.jpg" class="img-thumbnail" alt="Cinque Terre">

            <p></p>
        </div>
        <div class="col-sm-3">
            <div class="well">
                <font color="blue"><b>* Message by Inspector General of Sindh Police </b></font>
                <button type="button" class="btn btn-success"><b>Click Here</b></button>
            </div>
            <div class="well">
                <font color="blue"><b>* Aplications are invited for the vacant posts at Sindh </b></font>
                <button type="button" class="btn btn-success"><b>Click Here</b></button>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="well">
                <font color="blue"><b>* Aplications are invited for the vacant posts at Security Unit </b></font>
                <button type="button" class="btn btn-success"><b>Click Here</b></button>
            </div>
            <div class="well">
                <font color="blue"><b>* Jobs RRF</b></font><br />
                <button type="button" class="btn btn-success"><b>Click Here</b></button>
            </div>
        </div>
    </div>
    <hr>
</div>

<div class="container text-center">
    <h3><b>Our Informations</b></h3>
    <br>
    <div class="row">
        <div class="col-sm-2">
            <img src="~/Image/Police3.jpg" class="img-thumbnail" alt="Cinque Terre">
            <p><i>Army to be engaged for merit-based police recruitments in Sindh police</i></p>
        </div>
        <div class="col-sm-2">
            <img src="~/Image/Police4.jpg" class="img-thumbnail" alt="Cinque Terre">
            <p><i>12000 Sindh police officials involved in suspicious activities: Report</i></p>
        </div>
        <div class="col-sm-2">
            <img src="~/Image/Police5.jpg" class="img-thumbnail" alt="Cinque Terre">
            <p><i>SC seeks details of action against Sindh Police 'big fish'</i></p>
        </div>
        <div class="col-sm-2">
            <img src="~/Image/Police6.jpg" class="img-thumbnail" alt="Cinque Terre">
            <p>KARACHI: An unknown caller from Afghanistan had threatened to take his own course if death penalties handed down to convicts in Safoora Goth case were not overturned, days before mysterious...</p>
        </div>
        <div class="col-sm-2">
            <img src="~/Image/Police7.jpg" class="img-thumbnail" alt="Cinque Terre">
            <p>Discover this and millions of other royalty-free stock photos, illustrations, and vectors in the Shutterstock collection. Thousands of new, high-quality images added every day.</p>
        </div>
        <div class="col-sm-2">
            <img src="~/Image/Police8.jpg" class="img-thumbnail" alt="Cinque Terre">
            <p>A Pakistani anti-corruption court on Thursday indicted ousted Prime Minister Nawaz Sharif and his daughter over allegations linked to ownership of London properties, opening a trial that could..</p>
        </div>
    </div>
</div><br>


<!-- Editorial Area Start -->
<section class="gazatte-editorial-area section_padding_100 bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="editorial-post-slides owl-carousel">

                    <!-- Editorial Post Single Slide -->
                    <div class="editorial-post-single-slide">
                        <div class="row">
                            <div class="col-12 col-md-5">
                                <div class="editorial-post-thumb">
                                    <img src="/Content/img/blog-img/Governor.jpg" alt="">
                                </div>
                                <h2><b>Muhammad Zubair Umar</b></h2>
                            </div>
                            <div class="col-12 col-md-7">
                                <div class="editorial-post-content">
                                    <!-- Post Tag -->
                                    <div class="gazette-post-tag">
                                        <a href="#">Governor Message</a>
                                    </div>
                                    <p>
                                        Public Safety is one of the top-most priorities of any Government.
                                        A safe and secure environment is essential for economic growth, social prosperity and political development of a society.
                                        Police, as the primary law enforcement agency in the province, bears the responsibility for providing safety and security through control of crime and maintenance of public order.
                                        The Government has spent huge sums of money in order to inculcate functional specialization in the departments as well as equipping the police with necessary hardware.
                                        The present Government of Sindh attaches the highest priority to the welfare of the common man and takes policy initiatives to provide better, safe and secure environment for which Sindh Police has a major contribution The Government of Sindh is fully committed to ensure a peaceful environment in which people could live and work without even the sunlight fear; and play a vital role in the progress of province which has been on the front line during the war against terrorism. The force has displayed outstanding professionalism, bravery and courage in defending of its motherland. However, successful policing requires the help and support of the public. Therefore, it is high time that public be involved in the policing process; they should be informed of policing plan and priorities as well as problems. In short, the police has to win the trust and confidence of public and this will be possible only when police takes the public on board. I am very glad to know that Sindh Police has launched its website which will not only keep the public informed of the police performance but will also provide an opportunity to the public to communicate and interact with the police for making complaints and suggestions and keep police updated about any unlawful activities around. This will definitely help improve the overall performance of the police. I appreciate it very much.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>


                    <!-- Editorial Post Single Slide -->
                    <div class="editorial-post-single-slide">
                        <div class="row">
                            <div class="col-12 col-md-5">
                                <div class="editorial-post-thumb">
                                    <img src="/Content/img/blog-img/CM.jpg" alt="">
                                </div>
                                <h2><b>Syed Murad Ali Shah</b></h2>
                            </div>
                            <div class="col-12 col-md-7">
                                <div class="editorial-post-content">
                                    <!-- Post Tag -->
                                    <div class="gazette-post-tag">
                                        <a href="#">CM Message</a>
                                    </div>
                                    <p>
                                        Public Safety is one of the top-most priorities of any Government.
                                        A safe and secure environment is essential for economic growth, social prosperity and political development of a society.
                                        Police, as the primary law enforcement agency in the province, bears the responsibility for providing safety and security through control of crime and maintenance of public order.
                                        The Government has spent huge sums of money in order to inculcate functional specialization in the departments as well as equipping the police with necessary hardware.
                                        The present Government of Sindh attaches the highest priority to the welfare of the common man and takes policy initiatives to provide better, safe and secure environment for which Sindh Police has a major contribution The Government of Sindh is fully committed to ensure a peaceful environment in which people could live and work without even the sunlight fear; and play a vital role in the progress of province which has been on the front line during the war against terrorism. The force has displayed outstanding professionalism, bravery and courage in defending of its motherland. However, successful policing requires the help and support of the public. Therefore, it is high time that public be involved in the policing process; they should be informed of policing plan and priorities as well as problems. In short, the police has to win the trust and confidence of public and this will be possible only when police takes the public on board. I am very glad to know that Sindh Police has launched its website which will not only keep the public informed of the police performance but will also provide an opportunity to the public to communicate and interact with the police for making complaints and suggestions and keep police updated about any unlawful activities around. This will definitely help improve the overall performance of the police. I appreciate it very much.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Editorial Post Single Slide -->
                    <div class="editorial-post-single-slide">
                        <div class="row">
                            <div class="col-12 col-md-5">
                                <div class="editorial-post-thumb">
                                    <img src="/Content/img/blog-img/IG.jpg" alt="">
                                </div>
                                <h2><b>A.D Ghuwaja</b></h2>
                            </div>
                            <div class="col-12 col-md-7">
                                <div class="editorial-post-content">
                                    <!-- Post Tag -->
                                    <div class="gazette-post-tag">
                                        <a href="#">IG Message</a>
                                    </div>

                                    <p>
                                        Public Safety is one of the top-most priorities of any Government.
                                        A safe and secure environment is essential for economic growth, social prosperity and political development of a society.
                                        Police, as the primary law enforcement agency in the province, bears the responsibility for providing safety and security through control of crime and maintenance of public order.
                                        The Government has spent huge sums of money in order to inculcate functional specialization in the departments as well as equipping the police with necessary hardware.
                                        The present Government of Sindh attaches the highest priority to the welfare of the common man and takes policy initiatives to provide better, safe and secure environment for which Sindh Police has a major contribution The Government of Sindh is fully committed to ensure a peaceful environment in which people could live and work without even the sunlight fear; and play a vital role in the progress of province which has been on the front line during the war against terrorism. The force has displayed outstanding professionalism, bravery and courage in defending of its motherland. However, successful policing requires the help and support of the public. Therefore, it is high time that public be involved in the policing process; they should be informed of policing plan and priorities as well as problems. In short, the police has to win the trust and confidence of public and this will be possible only when police takes the public on board. I am very glad to know that Sindh Police has launched its website which will not only keep the public informed of the police performance but will also provide an opportunity to the public to communicate and interact with the police for making complaints and suggestions and keep police updated about any unlawful activities around. This will definitely help improve the overall performance of the police. I appreciate it very much.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- Editorial Area End -->
